{% extends "base.html" %}
{% block content %}
<div class="auth-card">
    <h2>Login to HeartRate Pro</h2>
    <form method="post">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button class="btn primary full-btn" type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>
{% endblock %}
